#BuyerAccept {
    display: flex;
    width: 25.75rem;
    padding: 1.5rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    border-radius: 0.625rem;
    background: #EDE7E3;

    justify-content: center;
}

#block-text{
    display: flex;
    padding: 0rem 0.9375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    align-self: stretch;
    /* align-self: center;   Horizontally center within the parent */
}

#block-text #Typography{
    align-self: stretch;
    color: #000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#block-text #Typography.h1{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#block-btn{
    display: flex;
    justify-content: center;  /* Horizontally center the content */
    align-items: center;      /* Vertically center the content */
    align-self: center;       /* Horizontally center within the parent */
}


#block-btn #btn{
    display: flex;
    height: 1.5rem;
    padding: 0.3125rem 3.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #FFA62B;
    color: #FFF;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#block-btn #btn.reject{
    background: #888;
}